:root {
    --black: #000000;
    --blue: #276ef1;
    --gray: #f6f6f6;
    --white: #ffffff;
}

body { margin: 0; font-family: 'Helvetica Neue', sans-serif; background: var(--black); overflow: hidden; }

.screen { position: fixed; width: 100%; height: 100%; transition: 0.5s ease-in-out; }
.hidden { transform: translateY(100%); opacity: 0; }

/* Login */
#role-screen { display: flex; flex-direction: column; align-items: center; justify-content: center; background: var(--black); color: var(--white); }
.header-logo h1 { font-size: 3.5rem; letter-spacing: -2px; }
.header-logo span { color: var(--blue); }
.login-container { width: 80%; max-width: 350px; }
input { width: 100%; padding: 15px; margin-bottom: 15px; border-radius: 8px; border: none; background: #1a1a1a; color: white; font-size: 1rem; box-sizing: border-box;}

.btn-black { width: 100%; padding: 18px; background: var(--blue); color: white; border: none; border-radius: 8px; font-weight: bold; margin-bottom: 10px; }
.btn-white { width: 100%; padding: 18px; background: white; color: black; border: none; border-radius: 8px; font-weight: bold; }

/* Mapa y Bottom Sheet */
#map-container { position: relative; height: 100%; width: 100%; background: #222; }
canvas { width: 100%; height: 100%; display: block; }

.bottom-sheet {
    position: absolute; bottom: 0; width: 100%; background: white; 
    border-radius: 20px 20px 0 0; padding: 25px; box-sizing: border-box;
    box-shadow: 0 -5px 20px rgba(0,0,0,0.3); color: #333;
}

.input-box { display: flex; align-items: center; background: var(--gray); padding: 10px; border-radius: 8px; margin-bottom: 10px; }
.dot { width: 8px; height: 8px; margin-right: 15px; border-radius: 50%; }
.green { background: #05a357; }
.black { background: black; }
.input-box input { background: transparent; color: black; margin: 0; padding: 5px; }

.btn-confirm { width: 100%; background: black; color: white; padding: 15px; border: none; border-radius: 8px; font-weight: bold; margin-top: 10px; }

/* Alertas */
.alert-card { background: #e7f0ff; border: 2px solid var(--blue); padding: 15px; border-radius: 12px; margin-top: 10px; }
.btn-accept { width: 100%; background: var(--blue); color: white; border: none; padding: 12px; border-radius: 8px; font-weight: bold; }
.back-btn { position: absolute; top: 20px; left: 20px; width: 40px; height: 40px; border-radius: 50%; border: none; background: white; font-size: 1.2rem; z-index: 10; }
