body{
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #1e1e2f, #2b5876);
    color: white;
    text-align: center;
    margin: 0;
    padding: 20px;
}

h1{
    margin-bottom: 5px;
}

#contenedor-taxis{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}
.taxi {
    background-color: white;
    color: black;
    padding: 15px;
    width: 200px;
    border-radius: 15px;
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
    transition: transform 0.2s;
}

.taxi:hover{
    transform: scale(1.05);
}

.disponible{
    color: green;
    font-weight: bold;
}

.ocupado{
    color: red;
    font-weight: bold;
}
@media (max-width: 600px) {
    #contenedor-taxis {
        flex-direction: column;
        align-items: center;
    }

    .taxi {
        width: 90%;
    }
}
